<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APICreation</title>
    <style>
        h1 {
            color: rgb(180, 46, 46);
        }
    </style>
</head>
<body>
    <h1>Ceci est une page en cours de construction...</h1>
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Rechercher une personne..." />
        <button type="submit">Rechercher</button>
    </form>
</body>
</html>